# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtualenv
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ============================
# Project
# ============================

# DB
database.db
*.sqlite3

# Logs
*.log

# Environment files
.env

# Compilation / Cache
*.egg-info/
*.egg
dist/
build/

# ============================
# IDE
# ============================

# PyCharm
.idea/

# VSCode
.vscode/

# ============================
# Docker
# ============================
docker-compose.override.yml
*.pid

# ============================
# System files
# ============================

# macOS
.DS_Store

# Windows
Thumbs.db

# ============================
# Backup/Temp
# ============================
*.bak
*.tmp
*.swp
*.orig
